@import "tailwindcss/utilities";

@layer utilities {
/* scroll animation  */
@keyframes scrollFromBottomAnimation {
    0% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  .scroll-animation {
    animation: scrollFromBottomAnimation 0.8s !important;
  }

@keyframes scrollFromBottomAnimationLess {
    0% {
      transform: translateY(1%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  .scroll-animation-less {
    animation: scrollFromBottomAnimationLess 0.8s !important;
  }



@keyframes scrollFromTopAnimation {
    0% {
      transform: translateY(-20%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  .scroll-animation-top {
    animation: scrollFromTopAnimation 0.8s !important;
  }

@keyframes zooming {
    0% {
      transform: scale(95%);
    }
    100% {
      transform: scale(100%);
    }
  }
  
  .zooming-animation {
    animation: zooming 0.6s ease-in-out !important;
  }
@keyframes zoomingLess {
    0% {
      transform: scale(99%);
    }
    100% {
      transform: scale(100%);
    }
  }
  
  .zooming-less-animation {
    animation: zoomingLess 0.8s ease-in-out !important;
  }

  
/* @keyframes zoomingLess {
    0% {
      transform: scale(99%);
    }
    100% {
      transform: scale(100%);
    }
  }
  
  .zooming-less-animation {
    animation: zoomingLess 0.8s ease-in-out !important;
  } */
    
 @keyframes visibilityAnimation {
    0% {
      opacity: 0;
      visibility: hidden;
    }

    100% {
      opacity: 1;
      visibility: visible;
    }
  }
  .careerScrollbar {
    animation: visibilityAnimation 0.7s;
  } 

 @keyframes opacityAnimation {
    0% {
      opacity: 0%;
    }

    100% {
      opacity: 100%;
    }
  }
 @keyframes opacityAnimationLess {
    0% {
      /* transform: translateY(5%) */
      transform: scale(95%);
      /* opacity: 30%; */
    }
    
    100% {
      /* transform: translateY(0%) */
      transform: scale(100%);
      /* opacity: 100%; */
    }
  }

  .opacity-animation {
    animation: opacityAnimation 1.2s;
  }
  .opacity-animation-slow {
    animation: opacityAnimationLess .8s ease-in;
  }
  .opacity-animation-fast {
    animation: opacityAnimation 0.5s;
  }

  .service-scroll {
    animation: scrollFromBottomAnimationLess 0.8s !important;
  }
  @media (min-width: 1024px) {
    .service-scroll {
      animation: scrollFromBottomAnimation 0.8s !important;
    }
  }
  }




/* card flip animation  */

  .flip {
    position: relative;
  }
  .flip > .front,
  .flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 1.5s;
    transition-property: transform, opacity;
  }
  .flip > .front {
    transform: rotateY(0deg);
  }
  .flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
  }
