.swiper-button-next,
.swiper-button-prev,
.mobileTech .swiper-pagination {
  display: none !important;
}

.techSlides .swiper-wrapper{
  transition-timing-function : linear;
  -webkit-transition-timing-function:linear!important;
    -o-transition-timing-function:linear!important;
}

.mobileTech .swiper-wrapper {
  align-items: center;
}
.mobileTech .swiper-slide-active .mobileTechImg {
  /* height: 260px; */
  filter: none;
}
.card-slider .swiper-slide {
  height: auto;
}
.card-slider .swiper-pagination {
  position: unset;
}
.resource-slider-sm .swiper-pagination {
  position: unset;
}
.resource-slider .swiper-pagination {
  position: unset;
  text-align: left;
  margin-left: 15%;
}

.service-blog-slider .swiper-pagination-bullet,
.resource-slider .swiper-pagination-bullet {
  transition: all 0.5s ease !important;
  margin-top: 40px !important;
  background-color: #5888be;
}
.resource-slider .swiper-pagination-bullet {
  width: 20px;
  border-radius: 10px !important;
  height: 6px;
}
.service-blog-slider .swiper-pagination-bullet-active,
.supplySliderBtn .swiper-pagination-bullet-active,
.resource-slider .swiper-pagination-bullet-active {
  width: 50px !important;
  border-radius: 10px !important;
  background-image: linear-gradient(to right, #00469f, #1e79d6) !important;
}
.resource-slider .swiper-pagination-bullet-active {
  width: 100px !important;
  height: 6px;
}
.supplySliderBtn .swiper-pagination-bullet-active {
  width: 40px !important;
}

.supplySliderBtn .swiper-pagination-bullet {
  transition: all 0.5s ease !important;
  background-color: #5888be !important;
}
.supplySliderBtn .swiper-pagination-horizontal {
  bottom: 0.5% !important;
}

.feature-slider .swiper-slide {
  height: auto;
}

@media (min-width: 425px) {
  .supplySliderBtn .swiper-pagination-horizontal {
    bottom: 0.5% !important;
  }
}
@media (min-width: 1024px) {
  .supplySliderBtn .swiper-pagination-bullets,
  .supplySliderBtn .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 2% !important;
    width: unset !important;
    right: 0 !important;
    left: 86% !important;
  }
}
@media (min-width: 1280px) {
  .supplySliderBtn .swiper-pagination-bullets,
  .supplySliderBtn .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -1.5% !important;
  }
}

@media (max-width: 639px) {
  .service-blog-slider .swiper-pagination-bullet {
    margin-top: 20px !important;
  }
}
@media (min-width: 1024px) {
  .resource-slider .swiper-pagination {
    margin-left: 10%;
  }
}
@media (max-width: 1023px) {
  .resource-slider .swiper-pagination {
    margin-left: 5%;
  }
  .resource-slider .swiper-pagination-bullet-active {
    width: 60px !important;
  }
}

.techSlides .slick-slide > div {
  margin: 0 10px;
  margin-bottom: 20px;
}
.techSlides .slick-arrow {
  display: none !important;
}

/* education slider start */

.educationSlider .swiper-pagination {
  position: absolute;
  top: 0;
  left: 50% !important;
  transform: translateX(-50%);
  overflow-x: auto;
  display: flex;
  align-items: baseline;
  max-width: 100%;
  height: max-content;
}
.educationSlider .swiper-pagination-bullet {
  white-space: nowrap;
  padding: 10px 20px;
  border-radius: 8px;
  height: 41px;
  margin-right: 20px !important;
  width: auto;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  background: transparent;
  color: #393e50;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.educationSlider .swiper-pagination-bullet:last-child {
  margin-right: 0px !important;
}
.educationSlider .swiper-pagination-bullet-active {
  color: #fff;
  background-image: linear-gradient(to right, #00469f, #1e79d6);
}
.educationSlider .swiper-slide {
  height: unset !important;
}

@media (min-width: 561px) {
  .educationSlider .swiper-pagination {
    justify-content: center;
  }
}

/* education slider end */

/* supply chain slider start */
.supplySlide .swiper {
  height: 320px !important;
}
.supplySlide .swiper-pagination {
  right: auto !important;
  width: 100%;
}

.supplySlide .swiper-pagination-bullet {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  white-space: nowrap;
  display: flex !important;
  align-items: center;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  color: #393e50 !important;
  opacity: 1;
  position: relative;
  padding-left: 20px;
  width: auto;
}

.supplySlide .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-image: linear-gradient(to bottom, #00459f00, #1e7ad600);
  width: 3px;
  height: 24px;
  border-radius: 10px;
}
.supplySlide .swiper-pagination-bullet-active::before {
  background-image: linear-gradient(to bottom, #00469f, #1e79d6);
}
.supplySlide .swiper-pagination-bullet-active {
  background-image: linear-gradient(to right, #00469f, #1e79d6) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background: transparent;
  width: 100%;
  border-radius: 0;
}
.supplySlide .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@media (max-width: 1023px) {
  .supplySlide .swiper {
    height: 360px !important;
  }
  .supplySlide .swiper-pagination {
    display: flex;
    align-items: center;
    top: -2px !important;
    overflow-x: auto;
    max-width: 100%;
    background-color: #f8f8fa;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
  .supplySlide .swiper-pagination-bullet {
    margin-right: 20px !important;
    padding-left: 0;
    justify-content: center;
    width: -webkit-fill-available;
  }

  .supplySlide .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    top: 115%;
    transform: translateY(-115%);
    left: 0;
    background-image: linear-gradient(to bottom, #00459f00, #1e7ad600);
    width: 100%;
    height: 3px;
    border-radius: 10px;
  }
  .supplySlide .swiper-pagination-bullet-active::before {
    background-image: linear-gradient(to bottom, #00469f, #1e79d6);
  }
}

@media (max-width: 1279px) {
  .supplySlide .swiper-pagination-bullet {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .supplySlide .swiper {
    height: 600px !important;
  }
}
@media (max-width: 425px) {
  .supplySlide .swiper {
    height: 620px !important;
  }
}
/* supply chain slider end */


.feature-slider .swiper{
  padding: 10px;
}